html {
  height: 100%;
}

body {
  background-color: #454545;
  background-image: url(images/slim_edited_VTLC.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

header {
  height: 118px;
  text-align: left;
}

/* nav {
  background-color: rgba(0, 0, 0, 0.336);
  height: 40px;
} */

main {
  height: 400px;
  text-align: center;
  padding-top: 80px;
  padding-left: 240px;
  padding-right: 240px;
}

footer {
  background-color: rgba(0, 0, 0, 0.418);
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  font-size: 84px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  font-size: 18px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer p {
  font-size: 10px;
  text-align: center;
  color: rgba(197, 224, 247, 0.514);
}





